---
import { siteConfig } from "@/site-config";
import "@styles/main.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  title = siteConfig.name,
  description = siteConfig.description,
  image = siteConfig.image,
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={canonicalURL} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.site).href} />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" title={title} />
</head>
