---
import ProjectCard from "@components/ProjectCard.astro";
import { featuredProjects } from "../site-config";
---

<section class="projects-section">
  <div class="auto-grid">
    {
      featuredProjects
        .filter((project) => project.featured)
        .map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            tags={project.tags}
            githubUrl={project.githubUrl}
            demoUrl={project.demoUrl}
          />
        ))
    }
  </div>

</section>

